@font-face {
    font-family: 'League Gothic';
    src: url("../fonts/league_gothic-webfont.woff2") format("woff2"), url("../fonts/league_gothic-webfont.woff") format("woff"), url("../fonts/league_gothic-webfont.eot") format("eot");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.eot") format("eot");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-ExtraBold-webfont.woff") format("woff"), url("../fonts/OpenSans-ExtraBold-webfont.eot") format("eot");
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*start header*/

.header {
    background-image: url(../images/background.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    height: 847px;
    width: 100%;
    border-bottom: 1px solid black;
    background-size: cover;
     
}


.header::after {
    content: "";
    background: rgba(0, 0, 0, .2);
    position: absolute;
    top: 278px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 400px;
}

.header > * {
    z-index: 10;
}

.header_content {
    width: 960px;
    margin: 0 auto;
    position: relative;
    padding-top: 71px;
 }

.header_nav-link {
    display: block;
    font-family: "League Gothic";
    font-size: 24px; 
    color: white;
    text-align: center;
    padding: 1px 0px;
    text-decoration: none;
    line-height: 28px;
    margin-left: 52px;
}

.header_nav-link:hover, .header_nav-link:focus {
      border-bottom: 2px solid #edbfff;
}

.header_nav-item {
    float: left;
    display: block;
    height: 30px;
}

.header_nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin-right: -2px;
    margin-top: 0px;
    text-shadow: 2px 2px 1px rgba(150, 150, 150, 0.66);
    float: right;
}

.header_logo {
    display: block;
    float: left;
}

.slider_container {
    width: 960px;
    margin: 0 auto;
}

.header_slider {
    position:relative;
    width: 960px;
}

.article_slider-p {
    font-family: "Open Sans";
    font-size: 18px;
    color: white;
}

.article_slider-h3 {
    font-family: "League Gothic";
    font-size: 32px;
    color: #edbfff;
    text-shadow: 1px 2px 2px rgba(150, 150, 150, 0.83);
    margin-top: -9px;
}

.article_slider-h1 {
    font-family: "League Gothic";
    font-size: 60px;
    color: #fefefe;
    line-height: 72px;
}

.article_slider-text {
	float: left;
	margin-top: 241px;
	width: 507px;
	margin-left: 5px;
}

.slider_image {
    float: right;
    margin-right: 68px;
    margin-top: 150px;
}

/*about section*/

.aboutsection {

    width: 100%;
    background-color: background: rgba(0,0,0,1);
background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(246,41,12,1) 0%, rgba(115,80,130,1) 0%, rgba(51,37,58,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(0%, rgba(246,41,12,1)), color-stop(0%, a(115,80,130,1)), color-stop(100%, rgba(51,37,58,1)));
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(246,41,12,1) 0%, rgba(115,80,130,1) 0%, rgba(51,37,58,1) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(246,41,12,1) 0%, rgba(115,80,130,1) 0%, rgba(51,37,58,1) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(246,41,12,1) 0%, rgba(115,80,130,1) 0%, rgba(51,37,58,1) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(246,41,12,1) 0%, rgba(115,80,130,1) 0%, rgba(51,37,58,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#33253a', GradientType=0 );
}

.aboutsection-primarycontainer {
    width: 964px;
    height: 100%;
    margin: 0 auto;
    padding-top: 8px;
}

.aboutsection_container h3{
    font-family: "League Gothic";
    font-size: 30px;
    color: white;
    margin-top: 5px;
}

.aboutsection_container p {
    font-family: "Open Sans";
    font-size: 16px;
    color: white;
    margin-top: 10px;
    line-height: 150%;
}

.aboutsection_container a{
    font-family: "League Gothic";
    font-size: 18px;
    color: white;
    float: right;
    margin-top: 14px;
    margin-right: 12px;
}

.aboutsection_container a:hover {
    text-shadow: -3px -2px 5px #FFFFFF;
}

.aboutsection_container {
      width: 30%;
    display: inline-block;
    background-image: url(../images/wrench.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-top: 74px;
    margin-left: 17px;
    padding-bottom: 50px;
}

.aboutsection_container-article{
    margin-left: 54px;
    margin-top: -9px;
    line-height: 170%;
}
 
.aboutsection_container:last-child {
    margin-bottom: 15px;
 }


/*light-grey-dude*/


.light-grey {
     width:100%;
}

.light-grey-top {
   padding-bottom: 94px;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #f9f9f9;
    background: rgb(212,212,212); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(212,212,212,1) 0%, rgba(249,249,249,1) 10%, rgba(249,249,249,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(212,212,212,1) 0%,rgba(249,249,249,1) 10%,rgba(249,249,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(212,212,212,1) 0%,rgba(249,249,249,1) 10%,rgba(249,249,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d4d4', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}

.dude-box-1 {
    background-image:url(../images/tooltip.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #454545;
    width: 427px;
    height: 292px;
    float: left;
    margin-left: 24px;
    position: relative;
    padding-top: 25px;
}

.italian-dude {
    position: absolute;
    top: 18px;
    left: -21px;
}

.recent-updates {
    float: right;
    color: #454545;
    width: 427px;
    height: 292px;
    padding-top:27;
}

.recent-updates h3 {
    font-family: "League Gothic";
    font-size: 30px;
    margin-left: -27px;
    margin-top: 27px;
    margin-bottom: 13px;
}

.recentupdates_container {
    margin-left: -26px;
    margin-bottom: 17px;
}

.recentupdates_container p h4{
    text-shadow: 0px 1px 0px #ffffff;
    font-size: 16px;
    color: #454545;
    margin-left: 60px;
}
    
.recentupdates_container p {
    font-family: Open Sans;
}

.recentupdates_container h4 {
    font-family: Open Sans;
    font-weight: bold;
 }

.recent-updates a {
    font-family: "League Gothic";
    font-size: 18px;
    text-shadow: 0px 1px 0px #ffffff;
    text-decoration: none;
    color: #454545;
    float: right;
    margin-top: 2px;
    margin-right: 25px;
}

.update-pics {
    display: block;
    float: left;
    margin-right: 17px;
}

.clearfix::after {
    display: block;
    clear: both;
    content: '';
}

.span-starts {
    color: #edbfff;
}

.dude-box-1 h3 {
    font-size: 30px;
    font-family: "League Gothic";
    margin-left: 39px;
    font-weight: 400px
}

.dude-box-1 p {
    font-size: 16px;
    font-family: "Open Sans";
    margin-top: 5px;
    margin-left: 39px;
    margin-right: 28px;
    line-height: 150%;
}

.light-grey-top-contentwrapper{
    width: 960px;
    height: 100%;
    width: 964px;
    height: 100%;
    margin: 0 auto;
    padding-top: 99px;
}

.logo-box {
    background-color: #f9f9f9;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 12px;
}

.logo-ass img {
    display: block;
    margin: 0 auto;
}

.logo_container {
    width: 960px;
    margin: 0 auto;
    letter-spacing: 0;
}

.logo-ass {
   width: 16%;
    float: left;
}

/*Dark Grey*/

.dark-grey {
    background-color: #ececec;
    height: 400px;
    width:100%;
}

.dark-grey-wrapper {
    width: 960px;
    margin: auto;
    padding-top: 82px;
}

.greywrapper_item {
	width: 30%;
	display: inline-block;
	padding-bottom: 138px;
	margin-right: 29px;
}

.dark-grey-wrapper>div:last-of-type {
    display: none;
    background-color: green;
}

.greywrapper_item h6{
  font-family: "Georgia";
    font-style: italic;
    font-size: 16px;
    color: #c5c5c5;  
}

.greywrapper_item h2{
  font-family: "League Gothic";
    font-style: normal;
    font-size: 48px;
    color: #454545;
    font-weight: 500;
    line-height: 159%;
}

.greywrapper_item p{
  font-family: "Open Sans";
    line-height: 275%;
    font-size: 16px;
    color: #454545;
    line-height: 150%;
}

.er {
    color: #b9b9b9;
}

.greywrapper_item h3{
   font-family: "League Gothic";
    font-style: normal;
    font-size: 30px;
    color: #454545;
    font-weight: 500;
}

.box-same-less {
    display: none;
}

.greywrapper_item ~ h6 h2 p h3 {
    text-shadow: 0px 1px 0px #ffffff;
}

.box-same-less {
    display: none;
}

.dark-grey-wrapper ~ h6 h2 p h3 {
    text-shadow: 0px 1px 0px #ffffff;
}

/*Footer*/

footer {
    background-image: url(../images/bg-footer.png);
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    height: 114px;
    -webkit-box-shadow: 2px 0px 4px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 0px 4px 1px rgba(0,0,0,0.75);
box-shadow: 2px 0px 4px 1px rgba(0,0,0,0.75);
}

.footer-wrapper {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.footer-wrapper>ul {
     list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
    text-shadow: 2;
    font-family: "League Gothic";
    font-size: 20px;
    float: left;
    margin-top: 41px;
}

.footer-link {
    display: inline;
    color: white;
}

.footer-li {
    display: inline-block;
}

.footer-wrapper>div {
    float: right;
    color: white;
     font-family: "Open Sans";
    font-size: 12px;
    margin-top: 48px;
}

.footer-link {
    text-decoration: none;
    display:block;
    text-align: center;
    padding-top: 1px;
    padding-right: 40px;
}

.footer-span-bold {
    font-weight: bold;
}

/*First Transition*/

@media screen and (max-width: 959px) {
   
.header {
   height: 798px;
}

.header::after {
    top: 244px;
}

    
.header_content {
    width: 100%;
    padding-top: 68px;
}

.header_logo {
    padding-left: 29px;
    padding-top: 3px;
    padding-bottom: 29px;
} 
 
 .header_nav-link {
    display: block;
    margin-right: 48px;
    text-align: center;
    padding: 1px 0px;
    margin-left: 6px;
    margin-bottom: 29px;
}

.header_nav {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 0px;
    margin-top: 0px;
    text-shadow: 2px 2px 1px rgba(150, 150, 150, 0.66);
    float: left;
    margin-left: 21px;
}

.slider_container {
    width: 100%;
}

.article_slider-h1 {
    font-size: 48px;
    line-height: 48px
}

.article_slider-h3 {
   line-height: 24px;
    font-size: 24px;
   margin-top: 8px;
}

.article_slider-p {
    font-size: 18px;
}

.article_slider-text {
    overflow: hidden;
    margin-top: 172px;
    width: 34%;
    margin-left: 49px;
    height: 198px;
}

.slider_image {
    float: right;
    margin-right: 40px;
    margin-top: 52px;
}

/*End of Header 720*/

.aboutsection-primarycontainer{
width: 100%;
padding-top: 7px;
}

.aboutsection_container-article {
	margin-left: 54px;
	margin-top: -3px;
	line-height: 100%;
}

.aboutsection_container {
    padding-bottom: 64px;
}

.aboutsection_container h3{
    font-size: 24px;
}

.aboutsection_container p {
    font-size: 16px;
    height: 139px;
    overflow: hidden;
}

.aboutsection_container a {
    font-size: 18px;
}

.aboutsection_container:last-child {
    margin-bottom: 1px
}

/*start light grey 2nd*/

.dude-box-1 {
    width: 41%;
    margin-left: 47px;
    height: auto;
    max-height: 300px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.dude-box-1 p {
    max-height: 170px;
    overflow: hidden;
    margin-bottom: 25px;
}


.dark-grey-wrapper {
    width: 100%;
}

.footer-wrapper {
    width: 100%;
}

.dude-box-1 h3 {
    font-size: 24px;
}

.recentupdates_container {
    margin-left: -7px;
	margin-bottom: 0px;
}

.recent-updates {
    width: 43%;
    margin-right: 10px;
}

.recent-updates h3 {
   margin-left: -9px;
}

/*2nd dark-grey*/


.light-grey-top {
    padding-bottom: 91px;
}

.light-grey-top-contentwrapper {
    width: 100%;
}

.logo_container {
    width: 100%;
}

.header_slider {
    width: 100%
}

.box-same-more {
    display: none;
}  

.box-same-less {
    display: inline-block;
}  

.greywrapper_item {
    margin-right: 4px;
    margin-left: 26px;
    width: 29%;
    height: 203px;
    overflow: hidden;
}

.greywrapper_item h3 {
    font-size: 24px;
    font-weight: 400;
}

.dark-grey-wrapper {
		padding-top: 100px;
}  

.greywrapper_item p {
      font-size: 16px;
} 

footer {
    background-image: url(../images/bg-footer.png) bottom repeat-x;;
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    /*height: 114px;*/
    height: 100%;
    overflow: hidden;
}

.footer-wrapper > ul {
    margin-top: 42px;
	margin-left: 25px;
}
.footer-wrapper > div {
    margin-top: 97px;
	margin-right: 14px;
}

}

@media screen and (max-width: 767px) {

.header {
    height: 100%;
}

.header::after {
    top: 203px;
    height: 245px;
}


 .header_logo {
    padding-left: 15px;
    padding-top: 3px;
    padding-bottom: 29px;
    margin: 0 auto;
    float: none;
}
 
.header_nav-item:last-child {
    border-bottom: none;
}

.header_nav {
     list-style-type: none;
    margin: 0;
    padding: 0;
    width: 246px;
    border: 1px solid #555;
   border-radius: 10px;
   background-color: rgba(62, 50, 70, .9);
   position: absolute;
    left: calc(50% - 113px);
    overflow: hidden;
    height: 258px;
     z-index: 5;
     top: 131px;
}

.header_nav-item:first-of-type {
    text-decoration: underline;
    text-decoration-color: #edbfff;
    font-weight: bold;
}

.header_nav:hover {
    height: 258px;
}

.header_nav-link:hover{
    background-color: rgba(41, 33, 47, .9);
}

    .header_nav-item {
    display: block;
    height: 43px;
    border-bottom: none;
    float: none;
    text-align: center;
    /*margin-top: 9px;*/
}

.header_nav-link {
     color: white;
    display: block;
    /*padding: 8px 16px;*/
    text-decoration: none;
    /*border-bottom: 1px solid #555;*/
    width: 246px;
    text-align: center;
    float: none;
    margin: 0;
    /*padding: 9;*/
    height: 43px;
    vertical-align: 50%;
}

.article_slider-text {
    margin-top: 158px;
    width: 40%;
}

.article_slider-h1 {
     line-height: 34px;
    font-size: 34px;
}

.article_slider-h3 {
   font-size: 18px;
   margin-top: 1px;
}

.article_slider-p {
     display: none;
}

.slider_image {
	margin-right: 23px;
	margin-top: 56px;
	padding-bottom: 44px;
}

.slider_image img {
   height: 304px;
}

.aboutsection-primarycontainer {
	padding-top: 49px;
}

.aboutsection_container {
    width: 100%;
    margin-top: 29px;
    margin-left: 40px;
    padding-right: 46px;
    padding-bottom: 0px;
   } 
 
 .aboutsection_container p {
     height: auto;
     padding-bottom: 0px;
 }

.aboutsection_container:last-child {
    margin-bottom: 72px
}

.light-grey-top {
    padding-bottom: 82px;
}

.light-grey-top-contentwrapper {
    padding-top: 69px;
}

.dude-box-1, .recent-updates {
width: 78%;
margin: 0 auto;
float: none;
}

.dude-box-1 {
background: #fff;
}

.recent-updates {
    padding-top: 50px;
    padding-left: 50px;
}

.dude-box-1 h3 {
    font-size: 30px;
    font-weight: 200;
}

.logo-ass {
    width: 30%;
    padding-bottom: 18px;
}

.logo_container {
	padding-left: 41px;
	padding-top: 11px;
}   

/*3nd dark grey   */

.dark-grey {
    height:100%;
}

.dark-grey-wrapper {
	padding-top: 78px;
	padding-bottom: 28px;
}

.greywrapper_item {
    margin: 0 auto;
    padding-left: 28px;
    width: 90%;
    overflow: hidden;
    padding-bottom: 31px;
    height: auto;
	line-height: 204%;
}

.greywrapper_item h3 {
    font-size: 24px;
    font-weight: 400;
}
 
.footer-link {
    padding-right: 0px;
}
 
 .footer-wrapper > ul {
    margin-left: 29px;
}

.footer-li {
    margin-right: 23px;
} 
#last-li.footer-li{
    margin-right: 0px;
} 

.footer-wrapper {
	height: 100%;
}

footer {
    height: 114px;
}

.footer-wrapper > div {
    display: table;
    margin: 0 auto;
    float: none;
    padding-top: 30px;
    padding-left: 22px;
}

}
 

@media screen and (max-width: 479px) {


.header_nav {
    height: 43px;
   border: none;
     background-color: rgba(0,0,0,0);
     top: 141;
}

.header_nav:hover {
    height: 258px;
    cursor: pointer;
} 

.slider_image img {
   display: none;
}

.slider_image {
    padding-bottom: 0px;
    margin-top: 21px;
}

 .header_nav-link {
     font-weight: initial;
 }
 
 .header_nav-link:hover{
    background-color: rgba(0,0,0,0);
    border-bottom: none;
    text-decoration: underline;
    text-decoration-color: #edbfff;
    font-weight: bold;
}

.article_slider-text {
    margin-left: 71px;
    width: 90%;
    font-weight: lighter;
    }
 
.aboutsection_container p {
	padding-bottom: 0px;
	height: 75px;
	line-height: 23px;
}
 
 .aboutsection-primarycontainer {
	padding-top: 43px;
}

.aboutsection_container h3 {
	font-weight: 400;
}

.aboutsection_container:last-child {
    margin-bottom: 70px;
}
 
 .light-grey-top {
	padding-bottom: 86px;
}

.dude-box-1 {
    width: 80%;
}

.dude-box-1 {
	margin-left: 51px;
}

.dude-box-1 h3 {
    font-size: 24px;
    }
    
.recent-updates {
	padding-top: 55px;
	padding-left: 12px;
	width: 85%;
}

.recentupdates_container {
    padding-bottom: 17px;
}

.recentupdates_container h4 {
    height: 23px;
    overflow: hidden;
}

.recentupdates_container p {
    height: 23px;
    overflow: hidden;
}

.logo_container {
	position: relative;
}

.logo_container div:first-child {
	position: absolute;
	top: 27px;
	left: 48px;
}

.logo_container div:nth-child(2) {
	position: absolute;
	top: 27px;
	left: 173px;
}

.logo_container div:nth-child(3) {
	position: absolute;
	top: 149px;
	left: 53px;
}

.logo_container div:nth-child(4) {
	position: absolute;
	top: 153px;
	left: 175px;
}

.logo-box {
    padding-bottom: 383px;
}

.logo_container div:nth-child(5) {
	position: absolute;
	top: 256px;
	left: 42px;
}

.logo_container div:last-child {
	position: absolute;
	top: 259px;
	left: 192px;
}

.dark-grey {
    display:none;
}

.footer-wrapper>ul {
    display:none;
}

.footer-wrapper {
    text-align: center;
}

.footer-wrapper > div {
    padding-top: 38px;
    float: none;
}
}
 
