@media screen and (min-width: 480px) {
     .header {
   height: 548px;
    }
    
     .header_content {
    width: 480px;
    padding-top: 68px;
 }
 
 .header_nav-link:hover, .header_nav-link:focus {
      border-bottom: 2px solid #edbfff;
      
}
.header_nav-item {
    text-align: center;
    border-bottom: 1px solid #555;
    margin-bottom: 10px;
    float: none;
}

.header_nav-item:last-child {
    border-bottom: none;
}

.header_nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 246;
    border: 1px solid #555;
    text-shadow: 2px 2px 1px rgba(150, 150, 150, 0.66);
    border-radius: 5px;
    background-color: rgba(62, 50, 70, .9);
    
}
    
}