@media screen and (min-width: 768px) {
    .header {
   height: 798px;
    }
    
    .header_content {
    width: 768px;
    padding-top: 68px;
 }
 
 .header_nav-link {
    display: block;
    
    text-align: center;
    padding: 1px 0px;
    
    
}


}

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}