* {
    padding 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix::after {
    display: block;
    clear: both;
    content: '';
}

body {
    background-image: url('../images/background.png');
    background-repeat: repeat-x;
    background-position: 0 -38px;
    font-family: Tahoma; 
    margin-top: 0px
}

.wrapper {
    width: 1000px;
    padding-top: 8px;
    margin: 0 auto;
    background: #fff;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .6);
    box-shadow: 0 0 15px rgba(0, 0, 0, .6);
}

.contacts {
    padding-right: 30px;
    float: right;
    font-size: 12px;
    font-family: Tahoma;
    line-height: 15px;
    color: #5fa5bb;
}

.contacts span:first-child {
    padding-bottom: 5px;
    font-weight: bold;
}

.contacts span {
    display: block;
    color: #128aa7;
}

.contacts a {
    text-decoration: none;
}

.logo {
    display: block;
    padding-left: 49px;
    padding-bottom: 0;
    width: 283px;
    float: left;
}

.countries {
    margin: 30px 0 5px;
    padding: 0 30px;
    float: right;
    clear: right;
    text-align: center;
}

.countries img {
    display: block;
    margin: 0 auto;
}

.countries li a {
    font-size: 10px;
    text-decoration: none;
}

.country {
    display: inline-block;
    margin-left: 15px;
    text-decoration: none;
}

.photo {
    border-top: 1px solid #128aa7;
    border-bottom: 1px solid #128aa7;
}

.photo img {
    display: block;
}



/*black navigation*/


#nav_wrapper {
    width: 1000px;
    margin: 0 auto;
    text-align: left;
    background: rgba(55,55,55,1);
background: -webkit-linear-gradient(rgba(55,55,55,1) 0%, rgba(48,48,48,1) 100%);
background: -o-linear-gradient(rgba(55,55,55,1) 0%, rgba(48,48,48,1) 100%);
background: linear-gradient(rgba(55,55,55,1) 0%, rgba(48,48,48,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373737', endColorstr='#303030', GradientType=0 );
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .4);
    font-family: "Tahoma";
    font-size: 14px;
    color: white;
    line-height: 30px;
    
}
#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    min-width: 200px;
    padding-left: 48px;
}

#nav ul li {
    display: inline-block;
}

#nav ul li:hover {
    background-color: #333;
}

#nav ul li a, visited {
    color: white;
    display: block;
    padding: 4px 26px;
    text-decoration: none;
}

#nav ul li:hover ul {
    display: block;
}

#nav ul ul {
    display: none;
    position: absolute;
    background-color: #303030;
    min-width: 50px;
    border-top: 0;
    margin-left: 20px;
}

#nav ul ul li {
    display: block;
    margin-left: -48px;
}

#nav ul ul li a:hover {
    color: white;
}

#nav ul ul li a {
    color: white;
    padding: 4px 36px 4px 5px;
}

footer {
    padding: 10px 0;
    color: #fff;
    font-size: 12px;
    text-align: center;
}      

.country span {
    color: #128aa7;
}

.countries li a:hover{
    text-decoration: underline;
}

#one-true {
    overflow: hidden;
    color: #424c43;
    font-family: "Tahoma";
    font-size: 14px;
    text-align: center;
}

#one-true .col{
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}

#one-true .left-div{
    background: #edeef0;
    width: 210px;
    float:left;
    border-right: 1px solid #c7cacf;
}

#one-true .mid-div{
   float: left;
    background: #fff;
    width: 578px;
}

#one-true .right-div{
    float: right;
    background: #edeef0;
    width: 210px;
    border-left: 1px solid #c7cacf;
}

.col>p {
    line-height: 24px;
}

.right-div p:last-child {
    padding-bottom: 15px;
}